
<div class="object-fit" role="main">
  <h1 class="run">Lauf zur guten Laune</h1>
  <img alt="runImage" src="assets/DSC01929.jpg">
  <button routerLink="page" class="button" mat-flat-button >Run</button>
</div>
<div class="spacer"></div>
<div class="info">
  <h1>Lauf zur guten Laune</h1>
  <p>
         Fühlst du dich lustlos, reizbar und antriebslos?
         Dies können Frühsymptome einer Depression sein. Damit bist du nicht allein, denn mindestens 20% der Deutschen leiden im Laufe ihres Lebens einmal an Depressionen. Sie entwickeln sich meist schleichend über Wochen oder Monate.
         Was hilft? Sport! Gehe regelmäßig Joggen, dies verbessert nicht nur deine allgemeine Leistungsfähigkeit, sondern kann auch Depressionen vorbeugen. Studien belegen, dass die Wirkung sogar ähnlich gut sein kann wie bei Medikamenten.*
         Also lauf zur guten Laune!</p>
</div>

